<% include partials/header %>

<div class="">

  <nav  class="navbar navbar-default">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout" role="button" ><button class="btn btn-info" type="button" name="button">logout</button></a><li>
      </ul>

      <ul class="nav nav-tabs">
        <h1 class="text-center" >Overview</h1>
        <hr width="50%" align="center">

        <li role="presentation" ><a href="/projects">projects</a></li>
        <li role="presentation" ><a href="/profile">Profile</a></li>

      </ul>
    </nav>

    <div class="col-md-2">
      <div class="bg-primary">
        <div class="list-group">
          <a href="/overview/<%= id %>" class="list-group-item">Owerview</a>
          <a href="/activity/<%= id %>" class="list-group-item">Activity</a>
          <a href="/members/<%= id %>" class="list-group-item">Members</a>
          <a href="/issue/<%= id %>" class="list-group-item active">Issuse</a>
        </div>
      </div>
    </div>

    <div class="col-md-8" >
      <h2><b>Edit Issue</b></h2>


      <div class="col-md-12" style="border: 1px solid">
        <form action="/editissue/<%= id %>" method="post" class="form-horizontal" style="margin-top:30px" >


          <div class="form-group form-group-sm">
            <label class="col-sm-1 control-label">Tracker</label>
            <div class="col-sm-10">
              <input type="radio" name="tracker" value="bug"  <% if(data.tracker == 'bug'){%> checked <%}%>> Bug <br>
              <input type="radio" name="tracker" value="feature"  <% if(data.tracker == 'feature'){%> checked <%}%>> Feature<br>
              <input type="radio" name="tracker" value="support"  <% if(data.tracker == 'support'){%> checked <%}%>> Support <br>
            </div>
          </div>


          <div class="form-group form-group-sm">
            <label  class="col-sm-1 control-label">Subject</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="subject" value="<%= data.subject %>">
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label  class="col-sm-1 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="description" rows="3" ><%= data.description %></textarea>
            </div>
          </div>


          <div class="form-group form-group-sm">
            <label class="col-sm-1 control-label">Status</label>
            <div class="col-sm-10">
              <input type="radio" name="status" value="new"  <% if(data.status == 'new'){%> checked <%}%>> New <br>
              <input type="radio" name="status" value="in progress"  <% if(data.status == 'in progress'){%> checked <%}%> > In progress<br>
              <input type="radio" name="status" value="resolved"  <% if(data.status == 'resolved'){%> checked <%}%> > Resolved <br>
              <input type="radio" name="status" value="feedback"   <% if(data.status == 'feedback'){%> checked <%}%> > Feedback<br>
              <input type="radio" name="status" value="closed"   <% if(data.status == 'closed'){%> checked <%}%>> Closed <br>
              <input type="radio" name="status" value="rejected"  <% if(data.status == 'rejected'){%> checked <%}%>> Rejected<br>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-sm-1 control-label">Priority</label>
            <div class="col-sm-10" >
              <input type="radio" name="priority" value="normal" <% if(data.priority == 'normal'){%> checked <%}%>> Normal <br>
              <input type="radio" name="priority" value="high"  <% if(data.priority == 'high'){%> checked <%}%>> High<br>
              <input type="radio" name="priority" value="urgrnt" <% if(data.priority == 'urgrnt'){%> checked <%}%>> Urgent <br>
              <input type="radio" name="priority" value="immediate" <% if(data.priority == 'immediate'){%> checked <%}%> > Immediate<br>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label  class="col-sm-1 control-label">Assignee</label>
            <div class="col-sm-10">
              <select class="form-control" name="assignee">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label  class="col-sm-1 control-label">Start Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="startdate" placeholder="start date" value="<%= data.startdate %>">
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label  class="col-sm-1 control-label">Due Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="duedate" placeholder="due date" value="<%= data.duedate %>">
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label  class="col-sm-1 control-label">Estimated Time</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="estimatedtime" placeholder="estimated time" value="<%= data.estimatedtime %>">
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label  class="col-sm-1 control-label">spenttime </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="spenttime" placeholder="spenttime" value="<%= data.spenttime %>">
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label  class="col-sm-1 control-label"> Done</label>
            <div class="col-sm-10">
              <select class="form-control" name="done">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-sm-1 control-label">File</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="files" placeholder="files" value="<%= data.files %>">
            </div>
          </div>

          <div class="form-group form-group-sm">
            <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>


        </div>
      </div>
    </form>
  </div>


  <% include partials/footer %>
