<html>
<head>
  <title>
    <%= title %>
  </title>
</head>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/sidebar.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project Management System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%=(page=='dashboard') ? ' active':''%>"><a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i>&nbspHome</a></li>
            <li class="<%=(page=='project') ? ' active':''%>"><a href="/project"><i class="fa fa-tasks" aria-hidden="true"></i>&nbspProjects</a></li>
            <%if(userData.privilege == "User"){%>
              <li class="<%=(page=='profile') ? ' active':''%>"><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i>&nbspProfile</a></li>
              <%}%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <%if(userData.privilege == "Admin"){%>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Setting
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="<%=(page=='profile') ? ' active':''%>"><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbspProfile</a></li>
                    <li class="<%=(page=='edituser') ? ' active':''%>"><a href="/listMembers"><i class="fa fa-pencil fa-fw"></i>List members</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="<%=(page=='makeadmin') ? ' active':''%>"><a href="/makeadmin"><i class="fa fa-unlock"></i> Make admin</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbspLogout</a></li>
                  </ul>
                </div>
                <%}%>
                <%if(userData.privilege == "User"){%>
                  <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbspLogout</a></li>
                  <%}%>
                </ul>
              </div>
            </div>
          </nav>

          <% if(page == 'dashboard'){%>
            <div class="jumbotron">
              <h1>Project Management System</h1>
              <p>Manage your system neat and quick</p>
            </div>

            <%}%>

          </div>

          <div class="container">
            <form class="form-horizontal" method="post" action="/updatemember/<%=id%>">
              <div class="form-group">
                <label class="control-label col-sm-1" for="email">Email</label>
                <div class="col-sm-5">
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" readonly="true" value = "<%=users.email%>">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-1" for="pwd">Position</label>
                <div class="col-sm-5">
                  <label class="col-sm-5 radio">
                    <input type="radio" name="position" value="Manager" <%= (users.position === "Manager") ?"checked":''%>>Manager
                  </label>
                  <label class="col-sm-10 radio">
                    <input type="radio" name="position" value="Software Developer" <%= (users.position === "Software Developer") ?"checked":''%>>Software Developer
                  </label>
                  <label class="col-sm-5 radio">
                    <input type="radio" name="position" value="Quality Assurance" <%= (users.position === "Quality Assurance") ?"checked":''%>>Quality Assurance
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-1" for="pwd">Type Fulltime</label>
                <div class="col-sm-5">
                  <label class="col-sm-5 checkbox">
                    <input type="checkbox" name="cfulltime" <%= users.isfulltime ?"checked":''%>>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-1 col-sm-5">
                  <button type="Update" class="btn btn-success">Update</button>
                </div>
              </div>

              <%if(message.length > 0) {%><label class="label label-success"><%=message%></label><%}%>

            </form>

          </div>

          <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
          <script src="../js/bootstrap.min.js"</script>
            <script src="../js/sidebar.js"></script>
          </body>
          </html>
