<% include partials/header %>

<nav  class="navbar navbar-default">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/logout" role="button" ><button class="btn btn-info" type="button" name="button">logout</button></a><li>
  </ul>

  <ul class="nav nav-tabs">
    <h1 class="text-center" >Project</h1>
    <hr width="50%" align="center">

    <li role="presentation" class="active"><a href="projects">projects</a></li>
    <li role="presentation" ><a href="profile">Profile</a></li>

  </ul>

</nav>


<!--filter-->
<form class="" action="" method="get">
  <div class="col-xs-9" >
    <div class="form-horizontal">
      <h2>Filter</h2>
      <hr>
      <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" ><input type="checkbox" name="cid" value="true"<%= query.cid ? 'checked' : '' %>>ID</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" id="id" placeholder="ID" name="id" value="<%= query.id %>">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" ><input type="checkbox" name="cname" value="true"<%= query.cname ? 'checked' : '' %>>Name</label>
        <div class="col-sm-10">
          <input class=" form-control" type="text" id="name" placeholder="Name" name="name" value="<%= query.name %>">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label"><input type="checkbox" name="" value="">Member</label>
        <div class="col-sm-10">
          <select name="member" class="form-control">
            <option value=""> Choose the member ... </option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="formGroupInputSmall"></label>
        <div class="col-sm-10">
          <button  style="margin-top : 30px"type="submit" name="search" class="btn btn-primary"> Search </button> <br>
        </div>
      </div>

    </div>
  </div>


  <div class="col-xs-9">
    <div class="form-horizontal">
      <h2>Options</h2>
      <hr>
      <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label">Colums</label>
        <div class="col-sm-10">
          <input type="checkbox" name="tabelid" value="true"<%= query.tabelid ? 'checked' : '' %>>ID <br>
          <input type="checkbox" name="tabelname" value="true"<%= query.tabelname ? 'checked' : '' %>>Name <br>
          <input type="checkbox" >Member <br>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="formGroupInputSmall"></label>
        <div class="col-sm-10">
          <button  style="margin-top : 30px"type="submit" name="search" class="btn btn-primary"> Apply </button> <br>
        </div>
      </div>
    <hr>
    </div>
  </div>
</form>


<div class="col-xs-9">
  <div class="form-group form-group-sm">
    <table class="table table-bordered">
      <%if (data.length > 0 ){%>
        <% for(var i=0; i < data.length; i++) { %>
      <tr>
        <%if (query.tabelid){%>
        <th>#</th>
        <% } %>
          <%if (query.tabelname ){%>
        <th>Name</th>
        <% } %>

        <th>Action</th>

      </tr>
      <tbody>
            <tr>
              <%if (query.tabelid){%>
              <td><%= data[i].projectid %></td>
            <% } %>
                <%if (query.tabelname){%>
              <td><%= data[i].name %></td>
            <% } %>

              <td><a href="edit/<%= data[i].projectid %>"> <button class="btn btn-success"> Edit</button> </a>
                <a href="projects/delete/<%= data[i].projectid %>" onclick="return confirm('anda yakin ?');"><button class="btn btn-danger"> Delete </button></a>
              </td>
              </tr>

          <% } %>
              <%}else{%>
                <td>Data Kosong</td>
              <%}%>
        </tbody>
    </table>
  </div>
</div>


<div class="col-xs-9">
  <label class="col-sm-2 control-label" for="formGroupInputSmall"></label>
  <div class="col-sm-10">
    <a href="/add"><button  style="margin-top : 30px"type="submit" name="button" class="btn btn-primary"> Add </button> <br></a>
  </div>
</div>


    <% include partials/footer %>
