<% include partials/header %>
<% include partials/menu %>
<div class="ui segment">
  <h1>Projects</h1>
  <h3>Filters</h3>
  <form class="ui form" method="get" action="/project">
    <div class="inline field">
      <input class="ui checkbox"type="checkbox" name="cid" tabindex="0" style="margin-left:100px;"<%= query.cid ? " checked" : '' %>>
      <label>ID</label>
      <input type="text" name="id" placeholder="ID" style="margin-left:100px;width:800px;" value="<%= query.id %>">
    </div>
    <div class="inline field">
      <input class="ui checkbox" type="checkbox" name="cname"tabindex="0" style="margin-left:100px;"<%= query.cname ? " checked" : '' %>>
      <label>Name</label>
      <input type="text" name="name" placeholder="Name" style="margin-left:80px;width:800px;" value="<%= query.name %>">
    </div>
    <div class="inline field">
      <input class="ui checkbox" type="checkbox" name="cmember" tabindex="0" style="margin-left:100px;"<%= query.cmember ? " checked" : '' %>>
      <label>Member</label>
      <div class="ui selection dropdown" style="margin-left:65px; width:800px">
        <input type="hidden" name="member" value="<%= query.member %>">
        <i class="dropdown icon"></i>
        <div class="default text">Choose the member ....</div>
        <div class="menu">
          <% for(let i=0; i<users.length; i++){ %><div class="item" data-value = "<%= users[i].userid %>"><%= `${users[i].firstname} ${users[i].lastname}` %></div><% } %>
        </div>
      </div>
    </div>
    <button class="ui button" type="submit" style="margin-left:130px;">Search</button>
    <a href="/project"class="ui button"style="margin-left:10px;">Reset</a>
  </form>

  <h1>Options</h1>
  <form class="ui form" action="/project"method="post">
    <div class="inline field">
      <p>Columns</p>
      <input class="ui checkbox" name="coid" type="checkbox" value="true" tabindex="0" style="margin-left:164px;" <%= projectcolumns.coid ? "checked":''%>
      <label>ID</label>
    </div>
    <div class="inline field">
      <p></p>
      <input class="ui checkbox" name="coname" type="checkbox" value="true" tabindex="0" style="margin-left:215px;" <%= projectcolumns.coname ? "checked":'' %>>
      <label>Name</label>
    </div>
    <div class="inline field">
      <p></p>
      <input class="ui checkbox" name="comembers" type="checkbox" value="true" tabindex="0" style="margin-left:215px;" <%= projectcolumns.comembers ? " checked" : '' %>>
      <label>Members</label>
    </div>
    <button class="ui button" type="submit">Apply</button>
  </form>

  <table class="ui striped table">
    <thead>
      <tr>
        <% let count = 1 %>
        <% if(projectcolumns.coid){ %><th>#</th><% count++} %>
        <% if(projectcolumns.coname){ %><th>Name</th><% count++} %>
        <% if(projectcolumns.comembers){ %><th>Members</th><% count++} %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(list.length > 0){%>
        <%for(let i=0;i<list.length;i++){%>
          <tr>
            <% if(projectcolumns.coid){ %><td><%= list[i].projectid%></td> <% } %>
            <% if(projectcolumns.coname){ %><td><%= list[i].name%></td> <% } %>
            <% if(projectcolumns.comembers){ %><td><% for(let j=0;j<list[i].members.length;j++) {%> <%= list[i].members[j].name+" ," %> <%}%></td><%}%>
            <td>
              <a class="positive ui button">Edit</a>
              <a class="negative ui button">Delete</a>

            </td>
          </tr>
          <%}%>
          <%}else{%>
            <tr>
              <td colspan="<%= count %>">data kosong</td>
            </tr>
            <%}%>
          </tbody>
        </table>

        <button class="ui button" type="submit">Add</button>
      </div>
      <% include partials/footer %>
