<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%= title %> | Project Management System </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
</head>
<body>
  <% include ../partials/menu %>

  <div class="container" style="float: left; width: 20%">
    <ul class="nav nav-sidebar">
      <li><a href="/projects/details/<%= idURL %>/overview">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Activity</a></li>
      <li>&nbsp</li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="/projects/details/<%= idURL %>/members">Members</a></li>
      <li class="activesidebar"><a href="">Issues</a></li>
    </ul>
  </div>

  <div class="container" style="float: right; width: 80%">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filter</h3>
      </div>
      <div class="panel-body">
        <form method="GET">
          <input type="hidden" name="page" value="">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <input class="form-check-input" type="checkbox" name="cid" value="True" <%= query.cid ? " checked" : ""%>>
              ID
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="number" name="id" value="<%= query.id %>"  placeholder="id">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <input class="form-check-input"  type="checkbox" name="cname" value="True"<%= query.cname ? " checked" : ""%>>
              Subject
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="subject"  value="<%= query.subject %>" placeholder="subject">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <input class="form-check-input"  type="checkbox" name="ctrackers" value="True"<%= query.ctrackers ? " checked" : ""%>>
              Tracker</label>
              <div class="col-sm-10">
                <select class="form-control" name="trackers">
                  <option value="">choose the tracker...</option>
                  <option value="bug"> Bugs </option>
                  <option value="feature">Features</option>
                  <option value="support">Support</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">
                <input class="form-check-input"  type="checkbox" name="cdescription" value="True"<%= query.cdescription ? " checked" : ""%>>
                Description
              </label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="description"  value="<%= query.description %>" placeholder="description">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">
                <input class="form-check-input"  type="checkbox" name="cstatus" value="True"<%= query.cstatus ? " checked" : ""%>>
                Status
              </label>
              <div class="col-sm-10">
                <select class="form-control" name="status">
                  <option value="">Choose a Status...</option>
                  <option value="New">New</option>
                  <option value="In Progress">In Progress</option>
                  <option value="Resolved">Resolved</option>
                  <option value="Feedback">Feedback</option>
                  <option value="Closed">Closed</option>
                  <option value="Rejected">Rejected</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">
                <input class="form-check-input"  type="checkbox" name="cpriority" value="True"<%= query.cpriority ? " checked" : ""%>>
                Priority
              </label>
              <div class="col-sm-10">
                <select class="form-control" name="priority">
                  <option value="">Choose a Priority...</option>
                  <option value="Normal">Normal</option>
                  <option value="High">High</option>
                  <option value="Urgent">Urgent</option>
                  <option value="Immediate">Immediate</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">
                <input class="form-check-input"  type="checkbox" name="cassignee" value="True"<%= query.cassignee ? " checked" : ""%>>
                Asignee
              </label>
              <div class="col-sm-10">
                <select class="form-control" name="assignee">
                  <option value="">Choose an Asignee...</option>
                  <% for(let x=0; x<membersListData.length; x++) {%>
                    <option value="<%= membersListData[x].userid %>"><%= membersListData[x].name %></option>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                  <input class="form-check-input"  type="checkbox" name="cstartdate" value="True"<%= query.cstartdate ? " checked" : ""%>>
                  Start Date
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="date" name="startdate"  value="<%= query.startdate %>">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                  <input class="form-check-input"  type="checkbox" name="cduedate" value="True"<%= query.cduedate ? " checked" : ""%>>
                  Due Date
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="date" name="duedate"  value="<%= query.duedate %>">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                  <input class="form-check-input"  type="checkbox" name="cestimatedtime" value="True"  <%= query.cestimatedtime ? " checked" : ""%> >
                  Est. Time
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="number" name="estimatedtime"  value="<%= query.estimatedtime %>" placeholder="estimated time">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                  <input class="form-check-input"  type="checkbox" name="cdone" value="True"<%= query.cdone ? " checked" : ""%>>
                  % Done
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="number" name="done"  value="<%= query.done %>" min="0" max="100" placeholder="percentage done">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" name="submit" class="btn btn-success">Search</button>
                  <a href="/projects/details/<%=idURL%>/issues" class="btn btn-warning">Reset</a>
                </div>
              </div>
            </form>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Options</h3>
          </div>
          <div class="panel-body">
            <form class="" action="/projects/details/<%= idURL %>/issues" method="post">
              <div class="form-group row">
                <label class="col-sm-2 control-label">columns</label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="coid" value="true"<%= issuecolumns.coid ? " checked" : "" %>>
                      ID
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="cosubject" value="true"<%= issuecolumns.cosubject ? " checked" : "" %>>
                      Subject
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="cotrackers" value="true"<%= issuecolumns.cotrackers ? " checked" : "" %>>
                      Trackers
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="codescription" value="true"<%= issuecolumns.codescription ? " checked" : ""%>>
                    Description
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="costatus" value="true"<%= issuecolumns.costatus ? " checked" : ""%>>
                    Status
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="copriority" value="true"<%= issuecolumns.copriority ? " checked" : ""%>>
                    Priority
                  </label>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="coassignee" value="true"<%= issuecolumns.coassignee ? " checked" : ""%>>
                    Asignee
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="costartdate" value="true"<%= issuecolumns.costartdate ? " checked" : ""%>>
                    Start Date
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="coduedate" value="true"<%= issuecolumns.coduedate ? " checked" : ""%>>
                    Due Date
                  </label>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="coestimatedtime" value="true"<%= issuecolumns.coestimatedtime ? " checked" : ""%>>
                    Estimated Time
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="codone" value="true"<%= issuecolumns.codone ? " checked" : ""%>>
                    % Done
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="coaction" value="true"<%= issuecolumns.coaction ? " checked" : ""%>>
                    Action
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Apply</button>
              </div>
            </div>
          </form>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Data</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped ">
              <thead>
                <tr>
                  <%= issuecolumns.coid %>
                  <% if(issuecolumns.coid) { %><th>#</th><% } %>
                  <% if(issuecolumns.cosubject) { %><th>Subject</th><% } %>
                  <% if(issuecolumns.cotrackers) { %><th>Trackers</th><% } %>
                  <% if(issuecolumns.codescription) {%><th>Description</th><%}%>
                  <% if(issuecolumns.costatus) {%><th>Status</th><%}%>
                  <% if(issuecolumns.copriority) {%><th>Priority</th><%}%>
                  <% if(issuecolumns.coassignee) {%><th>Asignee</th><%}%>
                  <% if(issuecolumns.costartdate) {%><th>Start Date</th><%}%>
                  <% if(issuecolumns.coduedate) {%><th>Due Date</th><%}%>
                  <% if(issuecolumns.coestimatedtime) {%><th>Estimated Time</th><%}%>
                  <% if(issuecolumns.codone) {%><th>% Done</th><%}%>
                  <% if(issuecolumns.coaction) {%><th>Action</th><%}%>
                </tr>
              </thead>
              <tbody>
                <% console.log("ini membersListData: ")%>

                <% if(issuesData.length > 0) { %>
                  <% for(let i = 0; i < issuesData.length; i++) { %>
                    <tr>
                      <% if(issuecolumns.coid) { %><td> <%= issuesData[i].issuesid %> </td><% } %>
                      <% if(issuecolumns.cosubject) { %><td> <%= issuesData[i].subject %> </td><% } %>
                      <% if(issuecolumns.cotrackers) { %><td> <%= issuesData[i].tracker %> </td><% } %>
                      <%if(issuecolumns.codescription) {%><td><%= issuesData[i].description %></td><%}%>
                      <%if(issuecolumns.costatus) {%><td><%= issuesData[i].status %></td><%}%>
                      <%if(issuecolumns.copriority) {%><td><%= issuesData[i].priority %></td><%}%>
                      <%if(issuecolumns.coassignee ) {%><td>
                        <%for(let x = 0; x<membersListData.length; x++) {%>
                          <%if(issuesData[i].assignee === membersListData[x].userid) {%><%= membersListData[x].name %> <%}%>
                          <%}%></td>
                          <%}%>
                          <%if(issuecolumns.costartdate) {%><td><%= issuesData[i].startdate %></td><%}%>
                          <%if(issuecolumns.coduedate) {%><td><%= issuesData[i].duedate %></td><%}%>
                          <%if(issuecolumns.coestimatedtime) {%><td><%= issuesData[i].estimatedtime %></td><%}%>
                          <%if(issuecolumns.codone) {%><td><%= issuesData[i].done %></td><%}%>
                          <%if(issuecolumns.coaction) {%>
                            <td>
                              <a href='/projects/details/<%= idURL %>/issues/edit/<%= issuesData[i].issuesid %>' class="btn btn-success" type="button" name="button" style="width: 100%;
                                table-layout: fixed;
                                border-collapse: collapse;">
                                edit </a>
                                <a href='/projects/details/<%= idURL %>/issues/delete/<%= issuesData[i].issuesid %>'
                                  class="btn btn-danger" type="button" name="button" style="width: 100%;
                                  table-layout: fixed;
                                  border-collapse: collapse;"
                                  onclick="return confirm('Are you sure you want to delete this item?')">
                                  delete
                                </a>
                                <%}%>
                              </td>
                            </tr>
                            <% } %>
                            <% } else { %>
                              <tr><h1> NOT FOUND </h1></tr>
                              <% } %>
                            </tbody>
                          </table>
                          <a href='/projects/details/<%= idURL %>/issues/add' class="btn btn-primary">Add</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% include ../partials/footer %>
